[package]
name = "coa-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "Core types and abstractions for COA"

[dependencies]

[lints]
workspace = true
